<h3><a href='{{link}}'>{{title}}</a></h3>
<div class="date">
  {{date}}
</div>

<p>{{source_url}}</p>

{{#has_image?}}
  <p><img src="{{image}}" class="thumbnail"/></p>
{{/has_image?}}

<p>{{{description}}}</p>

{{#comments}}
  <p><b>{{author}}</b></p>
  <p>{{{content}}}</p>
{{/comments}}
